# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE settings
*.idea/
*.vscode/
*.swp

# Python coverage reports
.coverage
coverage.xml
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other files
*.DS_Store
*.log
